.f12-body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 20vh;
}

.App {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(-45deg, #ee7752, #e65d92, #23a6d5, #3ff4ca);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.f12-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
